body,html {
	background-color: black; 
	margin: 0 auto;
	font-family: "Poppins";
	color: #ffffff;
    padding:10px;
}
a {
	text-decoration: none;
	color: black;
    background:white;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2em;
}
hr{
    float:left;
    width:40px !important;
}