body, html{
    background-color:black;
    color:white;
    padding:10px;
    font-family:Poppins;
}
hr{
    width:20px;
    color:white;
    float:left;
    overflow:hidden;
}
.btn-validity{
    background:green;
    color:white;
    font-family:"Poppins";
    padding:15px;
    padding-left:20px;
    border:0px;
    padding-right:20px;
    width:200px;
    font-weight:400;
    letter-spacing: 0.5px;
    transition:all 0.3s ease;
    cursor:pointer;
    margin-top:5px;
}
.btn-validity:hover{
    background: darkgreen;
}
section{
    overflow:hidden;
    float:left;
    margin-right:10px;
}
#myMap {
    position: relative;
    width: 60em;
    height: 500px;
}
.table{
    border:0px;
    margin:0px;
    padding-top:0px;
    line-height:0px;
}
.vacant{
    color:green;
    width:100px;
}
.occupied{
    color:red;
}
a{
    text-decoration: none;
    background: white;
    color:black;
    
}